.nav-container {
  display: grid;
  width: 95%;
  margin: auto;
  align-items: center;
  justify-items: center;
  grid-template-columns: 2fr 7fr;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;;
  padding-left: 15%;
}

.logo {
  background-image: url(/src/images/logo.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 140px;
  cursor: pointer;
}
